.margin-right-tiny { margin-right: .5rem !important; }
.margin-right-small { margin-right: 1rem !important; }
.margin-right-medium { margin-right: 2rem !important; }
.margin-right-large { margin-right: 4rem !important; }

.margin-left-tiny { margin-left: .5rem !important; }
.margin-left-small { margin-left: 1rem !important; }
.margin-left-medium { margin-left: 2rem !important; }
.margin-left-large { margin-left: 4rem !important; }

.margin-bottom-tiny { margin-bottom: .5rem !important; }
.margin-bottom-small { margin-bottom: 1rem !important; }
.margin-bottom-medium { margin-bottom: 2rem !important; }
.margin-bottom-large { margin-bottom: 4rem !important; }