// Reusable Elements

//Buttons
@mixin red-button {
	background-color: $netflix-red;
	width: 150px;
	height: 45px;
	margin-right: 25px;
	cursor: pointer;
}

@mixin white-button {
	width: 150px;
	height: 45px;
	border: 1px solid white;
	cursor: pointer;
}

//List
@mixin title-text {
	width: 300px;
	color: white;
	margin-left: 35px;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	transition: all .5s ease-in-out;
	cursor: pointer;
}

//Posters & Backdrops
@mixin poster($width) {
	width: $width;
	backface-visibility: hidden;
	transition: all .25s ease-in-out .25s;
	
	&:hover {
		transform: scale(1.15);
		transition: transform .25s ease-in-out .25s;
	}

	img {
		opacity: 1;
		transition: opacity .25s ease-in-out .4s;
	}

	&:hover img {
		opacity: .5;
		transition: opacity .2s ease-in-out .2s;
	}

	&:hover .play-icon,
	&:hover .circle-icon,
	&:hover .arrow-icon {
		opacity: .5;
	}
}

@mixin click-area($width, $height) {
	flex-direction: column;
	position: absolute;
	width: $width;
	height: $height;
}

@mixin play-button($width, $height) {
	width: $width;
	height: $height;
	cursor: pointer;

	&:hover .play-icon {
		opacity: 1;
		color: $netflix-red;
	}

	&:hover .circle-icon {
		opacity: 1;
	}
}

@mixin play-icon($font-size) {
	position: absolute;
	z-index: 2;
	margin-left: 5px;
	color: white;
	font-size: $font-size;
	opacity: 0;
	backface-visibility: hidden;
	transition: all .3s ease-in .2s;
}

@mixin circle-icon($font-size) {
	position: absolute;
	z-index: 1;
	color: white;
	font-size: $font-size;
	opacity: 0;
	backface-visibility: hidden;
	transition: all .3s ease-in .2s;
}

@mixin bottom-arrow-div($width, $height) {
	align-items: flex-end;
	width: $width;
	height: $height;

	&:hover .arrow-icon {
		color: $netflix-red;
		opacity: 1;
	}
}

@mixin arrow-icon($font-size) {
	position: absolute;
	z-index: 1;
	color: white;
	font-size: $font-size;
	opacity: 0;
	backface-visibility: hidden;
	transition: all .3s ease-in;
	cursor: pointer;
}

//Vue Transitions

//Open & Close
@mixin open-transition {
	transition: max-height 1s ease-in-out,
				opacity 1s ease-in-out .5s;
}

@mixin close-transition {
	transition: max-height 1s ease-in-out, 
				opacity 1s ease-in-out .25s;
}

//Fade In
@mixin fade-in {
	transition: opacity .25s ease-in-out .4s;
}