//Fonts
@mixin open-sans {
  font-family: "Open Sans";
}

//Flex
@mixin flex-center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

//Color
$netflix-red: #db0000;
